/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  B  |  Y  |  O  |  U  |  '  |   |  ;  |  L  |  D  |  W  |  V  |  Z  |
            // |  ESC |  C  |  I  |  E  |  A  |  ,  |   |  .  |  H  |  T  |  S  |  N  |  Q  |
            // | CTRL |  G  |  X  |  J  |  K  |  -  |   |  /  |  R  |  M  |  F  |  P  | ESC |
            //                    | ALT | CMD | SHF |   | ENT | RSE | ALT |

            label = "Base";
            bindings = <
&kp TAB    &kp B  &kp Y  &kp O     &kp U     &kp SQT      &kp SEMI  &kp L      &kp D  &kp W  &kp V  &kp Z
&none      &kp C  &kp I  &kp E     &kp A     &kp COMMA    &kp DOT   &kp H      &kp T  &kp S  &kp N  &kp Q
&kp LCTRL  &kp G  &kp X  &kp J     &kp K     &kp MINUS    &kp FSLH  &kp R      &kp M  &kp F  &kp P  &none
                         &kp LALT  &kp LGUI  &kp LSHFT    &kp RET   &kp SPACE  &none
            >;
        };
    };
};
