/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        c_backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <19 20>;
        };

        c_bkspW {
            bindings = <&kp LA(BACKSPACE)>;
            key-positions = <19 20 21>;
        };

        c_delete {
            bindings = <&kp DELETE>;
            key-positions = <20 21>;
        };

        c_deleteW {
            bindings = <&kp LA(DELETE)>;
            key-positions = <20 21 22>;
        };

        c_paren_open {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <4 5>;
        };

        c_paren_close {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <6 7>;
        };

        c_bracket_open {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <16 17>;
        };

        c_bracket_close {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <18 19>;
        };

        c_equals {
            bindings = <&kp EQUAL>;
            key-positions = <28 29>;
        };

        c_backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <30 31>;
        };

        c_nav {
            bindings = <&mo 2>;
            key-positions = <14 13>;
        };

        c_num {
            bindings = <&mo 1>;
            key-positions = <1 2>;
        };

        c_copy {
            bindings = <&kp K_COPY>;
            key-positions = <14 3>;
        };

        c_paste {
            bindings = <&kp K_PASTE>;
            key-positions = <3 16>;
        };

        c_cut {
            bindings = <&kp K_CUT>;
            key-positions = <14 16>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  B  |  Y  |  O  |  U  |  '  |   |  ;  |  L  |  D  |  W  |  V  |  Z  |
            // |  ESC |  C  |  I  |  E  |  A  |  ,  |   |  .  |  H  |  T  |  S  |  N  |  Q  |
            // | CTRL |  G  |  X  |  J  |  K  |  -  |   |  /  |  R  |  M  |  F  |  P  | ESC |
            //                    | ALT | CMD | SHF |   | ENT | RSE | ALT |

            label = "Base";
            bindings = <
&kp TAB    &kp B  &kp Y  &kp O     &kp U     &kp SQT      &kp SEMI  &kp L      &kp D  &kp W  &kp V  &kp Z
&sl 1      &kp C  &kp I  &kp E     &kp A     &kp COMMA    &kp DOT   &kp H      &kp T  &kp S  &kp N  &kp Q
&kp LCTRL  &kp G  &kp X  &kp J     &kp K     &kp MINUS    &kp FSLH  &kp R      &kp M  &kp F  &kp P  &none
                         &kp LALT  &kp LGUI  &kp LSHFT    &kp RET   &kp SPACE  &none
            >;
        };

        num {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N7  &kp N8  &kp N9  &trans  &trans
&sl 0   &trans  &trans  &trans  &kp N0  &trans    &trans  &kp N4  &kp N5  &kp N6  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N1  &kp N2  &kp N3  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "num";
        };

        nav {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp K_VOLUME_UP    &kp HOME  &kp UP    &kp END    &kp PAGE_UP    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp K_VOLUME_DOWN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp PAGE_DOWN  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp K_MUTE         &trans    &trans    &trans     &trans         &trans
                        &trans  &trans  &trans    &trans             &trans    &trans
            >;

            label = "nav";
        };
    };
};
